html, body {
    font-family: "Bebas Neue", Arial;
    margin: 0px;
    background-color: #1B1112;
    color: #EEBA4C;

}

/* top */

#header {
    top: -5px;
    color: #1B1112;
    background-color: whitesmoke;
    position: fixed;
    height: 11%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#head {
    letter-spacing: 5px;
    font-size: 3vw;
    z-index: 2;
    margin-left: 3vw;
    margin-top: 1vw;
}

#head2{
    letter-spacing: 5px;
    font-size: 2.5vw;
    z-index: 2;
    margin-left: 1vw;
    margin-top: 1.2vw;
}

#head3{
    letter-spacing: 5px;
    font-size: 2.5vw;
    z-index: 2;
    margin-left: .7vw;
    margin-top: 1.2vw;
}

#title {
    letter-spacing: 5px;
    padding: 0;
    text-align: center;
    color: whitesmoke;
    font-size: 2.3vw;
    background-image: linear-gradient(-90deg, #8EDC9D, #218C8D);
    margin-top: 3vw;
    display: block;
    line-height: 30vw;
}

/* top */

/*web-text*/
img {
    border-radius: 50%;
    vertical-align: middle;
    margin: 5px;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo_tag {
    text-align: center; 
    font-size: 3vw;
}

#web_text {
    font-size: 2vw;

}

#title2 {
    letter-spacing: 3px;
    font-size: 3vw;
    text-align: center;
    background-image: linear-gradient(90deg, #EF7126, #F9E559);
    color: whitesmoke;
    line-height: 5vw;
    padding: 3vw;
    display: block;
}

/*web-text*/
/* transition effects */

#click:hover {
animation: hovereffect 1s forwards;
}

@keyframes hovereffect {
    0% {
        color:white;
    }

    100% {
        color:#31B96E;
    }
}


#toptitle {
    animation: colorfade 2s forwards;
}
@keyframes colorfade {
    0%{
        text:#218C8D;
    }
    50%{
        color:#6CCECB;
    } 
    100%{
        color:#F9E559;
    }
}

/* end of transition */

a {
    text-decoration: none;
    color: #1B1112;
}