html {
    font-family: "Bebas Neue", Arial;
    margin: 1;
    background-color: #3A3A3C;
    color: #EEBA4C;

}

#title {
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    background-color: #23B5AF !important;
    border-radius: 50px;
    padding: 0px;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
}

img {
    border-radius: 50%;
    vertical-align: middle;
    margin: 5px;
}